html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1170px;
}



.span-temp {
  font-weight: 400;
  font-size: 12px;
  color: #393939;
}

.group-temp {
  display: flex;
  align-items: flex-start;
}

.header {
  box-shadow: 0 1px 10px 0 rgba(246, 80, 80, 0.15);
  background: #fff;
  margin-bottom: 25px;
}

.span-town {
  font-weight: 400;
  font-size: 12px;
  color: #393939;
}

.date-title {
  font-weight: 400;
  font-size: 12px;
  color: #393939;
}

.group-news {
  display: flex;
  background: #f65050;
  align-items: center;
  justify-content: center;
  width: 96px;
  padding-top: 17px;
  padding-bottom: 17px;
}

.span-news {
  font-weight: 400;
  font-size: 12px;
  color: #fff;
}

.indonesia-title {
  font-weight: 400;
  font-size: 12px;
  color: #393939;
}

.temp-logo {
  display: grid;
  grid-template-columns: 16px 19px 51px 16px 153px 96px 1fr;
  column-gap: 14px;
  align-items: center;
}

.social-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 24px) 1fr;
  column-gap: 12px;
}

.group-header-one {
  display: grid;
  grid-template-columns: 699px 1fr;
  column-gap: 302px;
  align-items: center;
}

.overlay-hero {
  width: 771px;
  height: 90px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./images/overlay_img.jpg");
  background-color: rgba(0, 0, 0, 0.6);
  padding-left: 24px;
  padding-right: 24px;

  display: grid;
  grid-template-columns: 219px 1fr;
  column-gap: 306px;
  align-items: center;
}

.hero-paragh-one {
  font-weight: 400;
  font-size: 14px;
  line-height: 151%;
  color: #fff;
  width: 219px;

}

.hero-paragh-two {
  font-weight: 400;
  font-size: 14px;
  line-height: 151%;
  color: #f65050;
}

.hero-paragh {
  display: grid;
  grid-template-columns: 219px;
  row-gap: 2px;
}

.button-span {
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  border: none;
}

.button-hero {
  background: #f65050;
  padding-top: 14px;
  padding-left: 15px;
  padding-bottom: 14px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  display: grid;
  grid-template-columns: 247px 1fr;
  align-items: center;
  column-gap: 120px;
  margin-bottom: 25px;
}

.home-group {
  background: #f65050;
  display: flex;
  flex-direction: column;
  width: 75px;
  padding-top: 11px;
  padding-bottom: 11px;
  align-items: center;
  gap: 8px;
}

.main-nav {
  background: #393939;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
  border-right: 0.50px solid rgba(255, 255, 255, 0.3);
  padding-left: 21px;
  display: flex;
  align-items: center;
}

.main-form {
  background: #393939;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 80px 1fr;
  align-items: center;
  padding-left: 15px;
}

.nav-list {
  list-style: none;
  display: grid;
  grid-template-columns: 93px 47px 55px 64px 42px 103px 62px 1fr;
  column-gap: 25px;
  align-items: center;
}

.last-header {
  display: grid;
  grid-template-columns: 75px 908px 1fr;
  margin-bottom: 25px;
}

.ref-style {
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}

.button-ref {
  background: #393939;
  border: none;
  display: flex;
  align-items: center;
  gap: 11px;
}

.main-input {
  font-weight: 300;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.3);
  background-color: #393939;
  border: none;
}

.main-button {
  border: none;
  background: #393939;
  cursor: pointer;
  width: 62px;
}

.icon-main {
  width: 25px;
}

.activity-button-one {
  border: none;
  background: #08f;
  font-weight: 400;
  font-size: 10px;
  color: #fff;
  padding: 8px;
  cursor: pointer;
  margin-top: 25px;
  margin-bottom: 375px;
}

.activity-li-one {
  padding-left: 25px;
  width: 670px;
  height: 570px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('./images/fone_activity_one.jpg');
}

.activity-li-two {
  padding-left: 25px;
  width: 235px;
  height: 278px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('./images/fone_activity_two.jpg');
}

.activity-list {
  list-style: none;
}

.activity-paragraph-one {
  font-weight: 400;
  font-size: 12px;
  line-height: 101%;
  color: #fff;
  margin-bottom: 24px;
}

.activity-title-one {
  font-weight: 500;
  font-size: 36px;
  text-transform: capitalize;
  color: #fff;
  width: 478px;
}



.activity-button-two {
  border: none;
  background: #997c00;
  font-weight: 400;
  font-size: 10px;
  color: #fff;
  padding: 8px;
  cursor: pointer;
  margin-top: 25px;
  margin-bottom: 146px;
}

.activity-paragraph-two {
  font-weight: 400;
  font-size: 10px;
  line-height: 101%;
  color: #fff;
  margin-bottom: 13px;
}

.activity-title-two {
  font-weight: 500;
  font-size: 14px;
  text-transform: capitalize;
  color: #fff;
  width: 165px;
}

.activity-button-three {
  border: none;
  font-weight: 400;
  font-size: 10px;
  color: #fff;
  background: #08f;
  padding: 8px;
  cursor: pointer;
  margin-top: 25px;
  margin-bottom: 145px;
}

.activity-title-three {
  width: 146px;
}

.activity-li-three {
  width: 235px;
  height: 278px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('./images/fone_activity_thre.jpg');
  padding-left: 25px;
}

.activity-paragraph-three {
  font-weight: 400;
  font-size: 10px;
  line-height: 101%;
  color: #fff;
  margin-bottom: 15px;
}

.activity-title-three {
  font-weight: 500;
  font-size: 14px;
  text-transform: capitalize;
  color: #fff;
}