html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1170px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .container {
    max-width: 290px;
  }
}

.span-temp {
  font-weight: 400;
  font-size: 12px;
  color: #393939;
}

.group-temp {
  display: flex;
  align-items: flex-start;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .group-temp {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
}

.header {
  box-shadow: 0 1px 10px 0 rgba(246, 80, 80, 0.15);
  background: #fff;
  margin-bottom: 25px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .header {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .group-img-clock {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .socials {
    display: grid;
    grid-template-columns: 290px;
    justify-items: center;
  }
}

.span-town {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #393939;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .span-town {
    text-align: center;
  }
}

.date-title {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #393939;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .date-title {
    text-align: center;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .group-button-news {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.group-news {
  display: flex;
  background: #f65050;
  align-items: center;
  justify-content: center;
  width: 96px;
  padding-top: 17px;
  padding-bottom: 17px;
}

.span-news {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #fff;
}

.indonesia-title {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #393939;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .indonesia-title {
    text-align: center;
    width: 290px;
  }
}

.temp-logo {
  display: grid;
  grid-template-columns: 16px 19px 51px 16px 153px 96px 1fr;
  column-gap: 14px;
  align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .temp-logo {
    display: grid;
    grid-template-columns: 290px;
    row-gap: 12px;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .group-img-sun {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.social-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 24px) 1fr;
  column-gap: 12px;
}

.group-header-one {
  display: grid;
  grid-template-columns: 699px 1fr;
  column-gap: 302px;
  align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .group-header-one {
    display: grid;
    grid-template-columns: 290px;
    row-gap: 25px;
  }
}

.overlay-hero {
  width: 771px;
  height: 90px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./images/overlay_img.jpg");
  background-color: rgba(0, 0, 0, 0.6);
  padding-left: 24px;
  padding-right: 24px;

  display: grid;
  grid-template-columns: 219px 1fr;
  column-gap: 306px;
  align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .overlay-hero {
    display: grid;
    grid-template-columns: 290px;
    row-gap: 200px;
    width: 290px;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.hero-paragh-one {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 151%;
  color: #fff;
  width: 219px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .hero-paragh-one {
    width: 250px;
    text-align: center;
    font-size: 12px;
  }
}

.hero-paragh-two {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 151%;
  color: #f65050;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .hero-paragh-two {
    font-size: 12px;
    text-align: center;
    width: 250px;
  }
}

.hero-paragh {
  display: grid;
  grid-template-columns: 219px;
  row-gap: 2px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .hero-paragh {
    display: grid;
    grid-template-columns: 290px;
    row-gap: 2px;
  }
}

.button-span {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  border: none;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .button-span {
    font-size: 14px;
  }
}

.button-hero {
  background: #f65050;
  padding-top: 14px;
  padding-left: 15px;
  padding-bottom: 14px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}


@media screen and (min-width: 320px) and (max-width: 479px) {
  .button-hero {
    width: 250px;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .group-button-hero {
    display: flex;
    align-items: center;
  }
}

.hero {
  display: grid;
  grid-template-columns: 247px 1fr;
  align-items: center;
  column-gap: 120px;
  margin-bottom: 25px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .hero {
    display: grid;
    grid-template-columns: 290px;
    row-gap: 20px;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .group-logo-svg {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.home-group {
  background: #f65050;
  display: flex;
  flex-direction: column;
  width: 75px;
  padding-top: 11px;
  padding-bottom: 11px;
  align-items: center;
  gap: 8px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .home-group {
    width: auto;
  }
}

.main-nav {
  background: #393939;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
  border-right: 0.50px solid rgba(255, 255, 255, 0.3);
  padding-left: 21px;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .main-nav {
    padding-left: 0;
  }
}

.main-form {
  background: #393939;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 80px 1fr;
  align-items: center;
  padding-left: 15px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .main-form {
    display: grid;
    grid-template-columns: 290px;
    justify-items: center;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .group-loop-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 55px;
  }
}

.nav-list {
  list-style: none;
  display: grid;
  grid-template-columns: 93px 47px 55px 64px 42px 103px 62px 1fr;
  column-gap: 25px;
  align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .nav-list {
    display: grid;
    grid-template-columns: 290px;
    row-gap: 15px;
    justify-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.last-header {
  display: grid;
  grid-template-columns: 75px 908px 1fr;
  margin-bottom: 25px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .last-header {
    display: grid;
    grid-template-columns: 290px;
  }
}

.ref-style {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .ref-style {
    font-size: 16px;
  }
}

.button-ref {
  background: #393939;
  border: none;
  display: flex;
  align-items: center;
  gap: 11px;
}

.main-input {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-weight: 300;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.3);
  background-color: #393939;
  border: none;
}

.main-button {
  border: none;
  background: #393939;
  cursor: pointer;
  width: 62px;
}

.icon-main {
  width: 25px;
}

.activity-button-one {
  font-family: "Sofia Sans Condensed", sans-serif;
  border: none;
  background: #08f;
  font-weight: 400;
  font-size: 10px;
  color: #fff;
  padding: 8px;
  cursor: pointer;
  margin-top: 25px;
  margin-bottom: 375px;
}

.activity-li-one {
  padding-left: 25px;
  width: 643px;
  height: 570px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('./images/fone_activity_one.jpg');
  grid-area: a;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .activity-li-one {
    grid-column-end: auto;
    grid-column-start: auto;
    grid-row-end: auto;
    grid-row-start: auto;
    width: 290px;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .group-activity-button-one {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.activity-li-two {
  padding-left: 25px;
  width: 235px;
  height: 278px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('./images/fone_activity_two.jpg');
  grid-area: b;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .activity-li-two {
    grid-column-end: auto;
    grid-column-start: auto;
    grid-row-end: auto;
    grid-row-start: auto;
    width: 290px;
  }
}

.activity-list {
  list-style: none;
  display: grid;
  grid-template-columns: 643px 1fr;
  gap: 14px;
  grid-template-areas:
    "a b c"
    "a d d";
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .activity-list {
    display: grid;
    grid-template-columns: 290px;
    row-gap: 10px;
    grid-template-areas: none;
  }
}

.activity-paragraph-one {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 101%;
  color: #fff;
  margin-bottom: 24px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .activity-paragraph-one {
    text-align: center;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .group-activity-button-two {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.activity-title-one {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 36px;
  text-transform: capitalize;
  color: #fff;
  width: 478px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .activity-title-one {
    font-size: 28px;
    width: 250px;
    text-align: center;
  }
}


.activity-button-two {
  font-family: "Sofia Sans Condensed", sans-serif;
  border: none;
  background: #997c00;
  font-weight: 400;
  font-size: 10px;
  color: #fff;
  padding: 8px;
  cursor: pointer;
  margin-top: 25px;
  margin-bottom: 146px;
}

.activity-paragraph-two {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 101%;
  color: #fff;
  margin-bottom: 13px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .activity-paragraph-two {
    text-align: center;
  }
}

.activity-title-two {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-transform: capitalize;
  color: #fff;
  width: 165px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .activity-title-two {
    font-size: 12px;
    text-align: center;
    width: 250px;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .group-activity-button-three {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.activity-button-three {
  font-family: "Sofia Sans Condensed", sans-serif;
  border: none;
  font-weight: 400;
  font-size: 10px;
  color: #fff;
  background: #08f;
  padding: 8px;
  cursor: pointer;
  margin-top: 25px;
  margin-bottom: 145px;
}

.activity-title-three {
  font-family: "Oswald", sans-serif;
  width: 146px;
}

.activity-li-three {
  width: 235px;
  height: 278px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('./images/fone_activity_thre.jpg');
  padding-left: 25px;
  grid-area: c;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .activity-li-three {
    grid-column-end: auto;
    grid-column-start: auto;
    grid-row-end: auto;
    grid-row-start: auto;
    width: 290px;
  }
}

.activity-paragraph-three {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 101%;
  color: #fff;
  margin-bottom: 15px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .activity-paragraph-three {
    text-align: center;
  }
}

.activity-title-three {
  font-weight: 500;
  font-size: 14px;
  text-transform: capitalize;
  color: #fff;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .activity-title-three {
    text-align: center;
    font-size: 12px;
    width: 250px;
  }
}

.activity-button-four {
  font-family: "Sofia Sans Condensed", sans-serif;
  margin-top: 26px;
  margin-bottom: 120px;
  border: none;
  font-weight: 400;
  font-size: 10px;
  color: #fff;
  background: #49cfe8;
  padding: 8px;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 479px) {

  .group-activity-button-four {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


.activity-paragraph-four {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 101%;
  color: #fff;
  margin-bottom: 15px;

}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .activity-paragraph-four {
    text-align: center;
  }
}

.activity-title-four {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 24px;
  text-transform: capitalize;
  color: #fff;
  width: 295px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .activity-title-four {
    font-size: 16px;
    text-align: center;
    width: 250px;
  }
}

.activity-li-four {
  width: 485px;
  height: 278px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('./images/fone_activity_four.jpg');
  padding-left: 23px;
  grid-area: d;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .activity-li-four {
    grid-column-end: auto;
    grid-column-start: auto;
    grid-row-end: auto;
    grid-row-start: auto;
    width: 290px;
  }
}

.activity {
  margin-bottom: 58px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .activity {
    margin-bottom: 15px;
  }
}

.news-title {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #f65050;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .news-title {
    font-size: 16px;
    text-align: center;
  }
}

.news-list {
  list-style: none;
  display: grid;
  grid-template-columns: 28px 68px 50px 134px 57px 64px 55px 1fr;
  column-gap: 10px;
  align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .news-list {
    display: grid;
    grid-template-columns: 290px;
    row-gap: 10px;
  }
}

.news-ref-one {
  font-family: "Oswald", sans-serif;
  display: block;
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 7px;
  padding-left: 7px;
  background: #fe4a51;
  width: 28px;
  text-decoration: none;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .news-ref-one {
    width: auto;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .news-ref-one-li {
    text-align: center;
  }
}

.news-ref-two {
  font-family: "Oswald", sans-serif;
  display: block;
  width: 68px;
  background: #a56cbd;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .news-ref-two {
    width: auto;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .news-ref-two-li {
    text-align: center;
  }
}

.news-ref-three {
  font-family: "Oswald", sans-serif;
  display: block;
  width: 50px;
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  background: #2ecc71;
  text-decoration: none;
  padding-bottom: 4px;
  padding-top: 4px;
  padding-right: 11px;
  padding-left: 11px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .news-ref-three {
    width: auto;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .news-ref-three-li {
    text-align: center;
  }
}

.news-ref-four {
  font-family: "Oswald", sans-serif;
  display: block;
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  width: 134px;
  text-decoration: none;
  background: #08f;
  padding-bottom: 4px;
  padding-top: 4px;
  padding-left: 26px;
  padding-right: 26px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .news-ref-four {
    width: auto;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .news-ref-four-li {
    text-align: center;
  }
}

.news-ref-five {
  font-family: "Oswald", sans-serif;
  display: block;
  width: 57px;
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  padding-bottom: 4px;
  padding-top: 4px;
  padding-left: 14px;
  padding-right: 14px;
  background: #997c00;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .news-ref-five {
    width: 290px;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .news-ref-five-li {
    text-align: center;
  }
}

.news-ref-six {

  font-family: "Oswald", sans-serif;
  display: block;
  width: 64px;

  font-weight: 400;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  background: #49cfe8;
  padding-bottom: 4px;
  padding-top: 4px;
  padding-left: 14px;
  padding-right: 14px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .news-ref-six {
    width: auto;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .news-ref-six-li {
    text-align: center;
  }
}

.news-ref-seven {

  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  padding-bottom: 3px;
  padding-top: 2px;
  background: #08f;
  padding-right: 15px;
  padding-left: 15px;
  width: 55px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .news-ref-seven {
    padding-left: 135px;
    padding-right: 130px;
  }
}

.button-news {
  background: #4c60f5;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 14px;
  padding-top: 5px;
  padding-bottom: 4px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .button-news {
    padding-left: 135px;
    padding-right: 120px;
  }
}

.button-news-span {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #fff;
}

.news {
  display: grid;
  grid-template-columns: 106px 1fr;
  align-items: center;
  column-gap: 190px;
  margin-bottom: 15px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .news {
    display: grid;
    grid-template-columns: 290px;
    row-gap: 15px;
  }
}

.articles-list {
  list-style: none;
  display: grid;
  grid-template-columns: 140px 1fr;
}



.articles-item-one {
  width: 140px;
  border: 1px solid #f65050;
}

.articles-item-two {
  border: 1px solid #393939;
  width: 742px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .articles-item-two {
    width: 150px;
  }
}


.articles-detail-list {
  list-style: none;
  display: grid;
  grid-template-columns: 394px 1fr;
  grid-template-areas:
    "artone arttwo"
    "artone artthree"
    "artone artfour"
    "artone artfive"
    "artone artsix"
  ;
  row-gap: 18px;
  column-gap: 30px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .articles-detail-list {
    display: grid;
    grid-template-columns: 290px;
    row-gap: 10px;
    grid-template-areas: none;
  }
}

.articles-detail-button {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  background: #a56cbd;
  border: none;
  cursor: pointer;
  padding-right: 11px;
  padding-left: 11px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 68px;
  position: absolute;
  margin-top: 22px;
  margin-left: 23px;
}

.detail-group {
  width: 393px;
  height: 250px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 24px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .detail-group {
    width: 290px;
    height: auto;
  }
}

.detail-one-parag {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 101%;
  color: #393939;
  margin-bottom: 11px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .detail-one-parag {
    text-align: center;
  }
}

.detail-one-title {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #393939;
  width: 394px;
  margin-bottom: 14px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .detail-one-title {
    font-size: 14px;
    text-align: center;
    width: 290px;
  }
}

.detail-one-parag-new {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-weight: 250;
  font-size: 14px;
  line-height: 111%;
  color: rgba(57, 57, 57, 0.6);
  width: 280px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .detail-one-parag-new {
    font-size: 12px;
    width: 290px;
    text-align: center;
  }
}

.article_parag_style {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 101%;
  color: #393939;
}

.article_title_style {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 15px;
  text-transform: capitalize;
  color: #393939;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .article_title_style {
    text-align: center;
    font-size: 12px;
  }
}

.article_span_style {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 101%;
  color: rgba(57, 57, 57, 0.6);
}

.article_h3_one {
  width: 256px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .article_h3_one {
    width: 290px;
  }
}

.article-main-parag {
  margin-bottom: 10px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .article-main-parag {
    text-align: center;
  }
}

.articles-detail-grid {
  display: grid;
  grid-template-columns: 90px 1fr;
  column-gap: 18px;
  align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .articles-detail-grid {
    grid-template-columns: 290px;
    row-gap: 15px;
  }
}

.article_h3_two {
  width: 224px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .article_h3_two {
    width: 290px;
  }
}

.article_h3_three {
  width: 271px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .article_h3_three {
    width: 290px;
  }
}

.article_h3_four {
  width: 269px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .article_h3_four {
    width: 290px;
  }
}

.article_h3_five {
  width: 269px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .article_h3_five {
    width: 290px;
  }
}

.articles-detail-one {
  grid-area: artone;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .articles-detail-one {
    grid-column-end: auto;
    grid-column-start: auto;
    grid-row-end: auto;
    grid-row-start: auto;
  }
}

.articles-detail-two {
  grid-area: arttwo;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .articles-detail-two {
    grid-column-end: auto;
    grid-column-start: auto;
    grid-row-end: auto;
    grid-row-start: auto;
  }
}

.articles-detail-three {
  grid-area: artthree;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .articles-detail-three {
    grid-column-end: auto;
    grid-column-start: auto;
    grid-row-end: auto;
    grid-row-start: auto;
  }
}

.articles-detail-four {
  grid-area: artfour;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .articles-detail-four {
    grid-column-end: auto;
    grid-column-start: auto;
    grid-row-end: auto;
    grid-row-start: auto;
  }
}

.articles-detail-five {
  grid-area: artfive;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .articles-detail-five {
    grid-column-end: auto;
    grid-column-start: auto;
    grid-row-end: auto;
    grid-row-start: auto;
  }
}

.articles-detail-six {
  grid-area: artsix;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .articles-detail-six {
    grid-column-end: auto;
    grid-column-start: auto;
    grid-row-end: auto;
    grid-row-start: auto;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .articles-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.articles {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.articles-last-refs {
  list-style: none;
  display: grid;
  grid-template-columns: 38px 48px 1fr;
  column-gap: 45px;
}

.articles-last-underline-one {
  border: 1px solid #f65050;
  width: 72px;
  height: 0px;
}

.articles-last-underline-two {
  border: 1px solid #393939;
  width: 172px;
  height: 0px;
}

.articles-last-underline {
  list-style: none;
  display: grid;
  grid-template-columns: 72px 1fr;
}

.articles-last-parag {
  margin-bottom: 12px;
}

.articles-last-item {
  display: grid;
  grid-template-columns: 70px 1fr;
  column-gap: 12px;
  align-items: center;
}

.articles-last {
  display: grid;
  grid-template-columns: 271px;
  row-gap: 23px;
}

.articles-last-article {
  list-style: none;
  display: grid;
  grid-template-columns: 221px;
  row-gap: 18px;
}

.articles-all {
  display: grid;
  grid-template-columns: 870px 1fr;
  column-gap: 29px;
  margin-bottom: 41px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .articles-all {
    display: grid;
    grid-template-columns: 290px;
    row-gap: 15px;
  }
}

.articles-last-refone {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #f65050;
  text-decoration: none;
}

.articles-last-reftwo {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #393939;
  text-decoration: none;
}

.articles-last-titleone {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 112%;
  color: #2d2d2d;
  width: 139px;
}

.articles-last-titletwo {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 112%;
  color: #2d2d2d;
  width: 142px;
}

.articles-last-three {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 15px;
  text-transform: capitalize;
  color: #393939;
  width: 135px;
}

.articles-last-four {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 15px;
  text-transform: capitalize;
  color: #393939;
  width: 162px;
}

.articles-last-five {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 15px;
  text-transform: capitalize;
  color: #393939;
  width: 149px;
}

.articles-last-spanone {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 8px;
  line-height: 101%;
  color: #393939;
}

.articles-last-spantwo {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 8px;
  line-height: 101%;
  color: rgba(57, 57, 57, 0.6);
}

.news-stories {
  margin-bottom: 57px;
}

.news-stories-group {
  display: grid;
  grid-template-columns: 137px 1fr;
  column-gap: 960px;
  align-items: flex-end;
  margin-bottom: 7px;
}

.news-stories-line-one {
  border: 1px solid #f65050;
  width: 140px;
  height: 0px;
}

.sports-navigation-title {
  font-weight: 500;
  font-size: 24px;
  color: #f65050;
  font-family: "Oswald", sans-serif;
}

.news-stories-line-two {
  border: 1px solid #393939;
  width: 1015px;
  height: 0px;
}

.news-stories-list-line {
  list-style: none;
  display: grid;
  grid-template-columns: 140px 1fr;
  margin-bottom: 25px;
}


.news-stories-title {
  font-weight: 500;
  font-size: 24px;
  color: #f65050;
  font-family: "Oswald", sans-serif;
}

.news-stories-hero {
  width: 1160px;
  height: 450px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('./images/news_stories_fone.jpg');
  margin-bottom: 25px;
}

.news-stories-hero-button {
  font-family: "Sofia Sans Condensed", sans-serif;
  background: #08f;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 25px;
  margin-bottom: 205px;
  margin-left: 23px;
}

.news-stories-hero-title {
  font-weight: 700;
  font-size: 24px;
  color: #fff;
  font-family: "Oswald", sans-serif;
  margin-bottom: 33px;
  margin-left: 23px;
}

.news-stories-hero-line {
  border: 1px solid #f65050;
  width: 80px;
  height: 0px;
  margin-bottom: 14px;
  margin-left: 23px;
}

.news-stories-hero-paragraph {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 126%;
  color: #fff;
  width: 526px;
  margin-left: 23px;
}

.news-stories-bottom-fone-one {
  width: 130px;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('./images/news_stories_bottom_one.jpg');
}

.news-stories-bottom-fone-two {
  width: 130px;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('./images/news_stories_bottom_two.jpg');
}

.news-stories-bottom-fone-three {
  width: 130px;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('./images/news_stories_bottom_three.jpg');
}

.news-stories-bottom-list {
  list-style: none;
}

.news-stories-bottom-button-one {
  font-weight: 400;
  font-size: 8px;
  color: #fff;
  font-family: "Sofia Sans Condensed", sans-serif;
  background: #08f;
  border: none;
  cursor: pointer;
  margin-left: 8px;
}

.news-stories-bottom-button-two {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 8px;
  color: #fff;
  border: none;
  cursor: pointer;
  background: #49cfe8;
  margin-left: 8px;
}

.news-stories-bottom-button-three {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 8px;
  color: #fff;
  border: none;
  cursor: pointer;
  background: #2ecc71;
  margin-left: 8px;
}

.news-stories-bottom-title-one {
  font-weight: 500;
  font-size: 15px;
  color: #393939;
  font-family: "Oswald", sans-serif;
  width: 186px;
}

.news-stories-bottom-title-two {
  font-weight: 500;
  font-size: 15px;
  color: #393939;
  font-family: "Oswald", sans-serif;
  width: 195px;
}

.news-stories-bottom-title-three {
  font-weight: 500;
  font-size: 15px;
  color: #393939;
  font-family: "Oswald", sans-serif;
  width: 153px;
}

.news-stories-bottom-span-one {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 101%;
  color: #393939;
}

.news-stories-bottom-span-two {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 101%;
  color: rgba(57, 57, 57, 0.6);
}

.news-stories-bottom-paragpaph {
  margin-bottom: 19px;
}

.news-stories-bottom-item {
  display: grid;
  grid-template-columns: 130px 1fr;
  column-gap: 16px;
  align-items: flex-start;
}

.news-stories-bottom-list {
  display: grid;
  grid-template-columns: 333px 342px 1fr;
  column-gap: 64px;
}

.sports-navigation-list {
  list-style: none;
  display: grid;
  grid-template-columns: 28px 68px 56px 77px 84px 64px 55px 1fr;
  column-gap: 10px;
  align-items: center;
}

.sports-navigation {
  display: grid;
  grid-template-columns: 61px 1fr;
  column-gap: 230px;
  align-items: baseline;
  margin-bottom: 17px;
}

.sports-navigation-ref {
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  font-family: "Oswald", sans-serif;
  text-decoration: none;
}

.sports-navigation-one {
  background: #fe4a51;
  padding-left: 9px;
  padding-right: 9px;
  padding-bottom: 3px;
  padding-top: 5px;
}

.sports-navigation-two {
  background: #a56cbd;
  padding-bottom: 3px;
  padding-top: 5px;
  padding-left: 14px;
  padding-right: 14px;
}

.sports-navigation-three {
  background: #2ecc71;
  padding-bottom: 3px;
  padding-top: 5px;
  padding-left: 14px;
  padding-right: 14px;
}

.sports-navigation-four {
  background: #08f;
  padding-bottom: 3px;
  padding-top: 5px;
  padding-left: 14px;
  padding-right: 14px;
}

.sports-navigation-five {
  background: #997c00;
  padding-bottom: 3px;
  padding-top: 5px;
  padding-left: 17px;
  padding-right: 17px;
}

.sports-navigation-six {
  background: #49cfe8;
  padding-bottom: 3px;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.sports-navigation-seven {
  background: #08f;
  padding-bottom: 3px;
  padding-top: 5px;
  padding-left: 9px;
  padding-right: 9px;
}

.sports-list-line {
  list-style: none;
  display: grid;
  grid-template-columns: 140px 1fr;
  margin-bottom: 40px;
}

.sports-list-line-one {
  border: 1px solid #f65050;
  width: 140px;
  height: 0px;
}

.sports-list-line-two {
  border: 1px solid #393939;
  width: 714px;
  height: 0px;
}

.sports-list-description {
  list-style: none;
  display: grid;
  grid-template-columns: 393px 1fr;
  column-gap: 25px;
  grid-template-areas:
    "sportdescone sportdesctwo"
    "sportdescone sportdescthree"
    "sportdescone sportdescfour"
    "sportdescone sportdescfive"
    "sportdescone sportdescsix"

  ;
}

.sport-desc-one {
  width: 393px;
  height: 250px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./images/sport_desc_one.jpg");
  margin-bottom: 24px;
}

.sport-desc-button {
  border: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  font-family: "Sofia Sans Condensed", sans-serif;
  background: #2ecc71;
  margin-top: 23px;
  margin-left: 24px;
}

.sport-desc-span-onesecond {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 101%;
  color: #393939;
}

.sport-desc-span-twosecond {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 101%;
  color: rgba(57, 57, 57, 0.6);
}

.sport-desc-title-one {
  font-weight: 500;
  font-size: 18px;
  color: #393939;
  font-family: "Oswald", sans-serif;
  width: 393px;
}

.sport-desc-parag-other {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-weight: 250;
  font-size: 14px;
  line-height: 111%;
  color: rgba(57, 57, 57, 0.6);
  width: 290px;
}

.sport-desc-parag-second {
  margin-bottom: 23px;
}

.sport-desc-title-one {
  margin-bottom: 25px;
}

.sport-desc-parag-last {
  margin-bottom: 12px;
}

.sport-desc-span-onelast {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 101%;
  color: #393939;
}

.sport-desc-span-twolast {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 101%;
  color: rgba(57, 57, 57, 0.6);
}

.sport-desc-title-two {
  font-weight: 400;
  font-size: 15px;
  color: #393939;
  font-family: "Oswald", sans-serif;
  width: 223px;
}

.sport-desc-title-three {
  font-weight: 400;
  font-size: 15px;
  color: #393939;
  font-family: "Oswald", sans-serif;
  width: 239px;
}

.sport-desc-title-four {
  font-weight: 400;
  font-size: 15px;
  color: #393939;
  font-family: "Oswald", sans-serif;
  width: 258px;
}


.sport-desc-title-five {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #393939;
  width: 261px;
}

.sport-desc-title-six {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #393939;
  width: 237px;
}

.sport-item-desc {
  display: grid;
  grid-template-columns: 90px 1fr;
  column-gap: 12px;
}

.sport-dest-item-one {
  grid-area: sportdescone;
}

.sport-dest-item-two {
  grid-area: sportdesctwo;
}

.sport-dest-item-three {
  grid-area: sportdescthree;
}

.sport-dest-item-four {
  grid-area: sportdescfour;
}

.sport-dest-item-five {
  grid-area: sportdescfive;
}

.sport-dest-item-six {
  grid-area: sportdescsix;
}

.sports-social-title {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #f65050;
  margin-bottom: 24px;
}

.sports-social-lines {
  list-style: none;
  display: grid;
  grid-template-columns: 72px 1fr;
  margin-bottom: 40px;
}

.sports-social-item-one {
  border: 1px solid #f65050;
  width: 72px;
  height: 0px;
}

.sports-social-item-two {
  border: 1px solid #393939;
  width: 198px;
  height: 0px;
}

.sports-social-networks {
  list-style: none;
  margin-bottom: 23px;
  display: grid;
  grid-template-columns: 130px 1fr;
  gap: 10px;
  grid-template-areas:
    "facebook instagram"
    "youtoobe twitter"
    "be football";
}

.sports {
  display: grid;
  grid-template-columns: 870px 1fr;
  column-gap: 20px;
  align-items: baseline;
  margin-bottom: 24px;
}

.sport-item-facebook {
  width: 130px;
  background: #4281ff;
  display: grid;
  grid-template-columns: 16px 1fr;
  column-gap: 15px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 13px;
  grid-area: facebook;
}

.sport-item-youtoobe {
  width: 130px;
  background: #ef5043;
  display: grid;
  grid-template-columns: 16px 1fr;
  column-gap: 15px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 13px;
  grid-area: youtoobe;
}

.sport-item-be {
  width: 130px;
  background: #1b7bfd;
  display: grid;
  grid-template-columns: 16px 1fr;
  column-gap: 15px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 13px;
  grid-area: be;
}

.sport-item-instagram {
  width: 130px;
  background: #c23785;
  display: grid;
  grid-template-columns: 16px 1fr;
  column-gap: 15px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 13px;
  grid-area: instagram;
}

.sport-item-twitter {
  width: 130px;
  background: #42c0f5;
  display: grid;
  grid-template-columns: 16px 1fr;
  column-gap: 15px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 13px;
  grid-area: twitter;
}

.sport-item-football {
  width: 130px;
  background: #f7679d;
  display: grid;
  grid-template-columns: 16px 1fr;
  column-gap: 15px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 13px;
  grid-area: football;
}

.sport-facebook-followers {
  font-weight: 500;
  font-size: 8px;
  color: #fff;
  font-family: "Sofia Sans Condensed", sans-serif;
  width: 35px;
}

.sport-youtoobe-followers {
  font-weight: 500;
  font-size: 8px;
  color: #fff;
  font-family: "Sofia Sans Condensed", sans-serif;
  width: 37px;
}

.sport-be-followers {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-weight: 500;
  font-size: 8px;
  color: #fff;
  width: 35px;
}

.sport-instagram-followers {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-weight: 500;
  font-size: 8px;
  color: #fff;
  width: 35px;
}

.sport-twitter-followers {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-weight: 500;
  font-size: 8px;
  color: #fff;
  width: 35px;
}

.sport-football-followers {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-weight: 500;
  font-size: 8px;
  color: #fff;
  width: 35px;
}

.sports-food {
  width: 270px;
  height: 270px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./images/sports_food.jpg");
}

.life-style-nav-list {
  list-style: none;
  display: grid;
  grid-template-columns: 28px 51px 55px 95px 57px 1fr;
  column-gap: 13px;
  align-items: center;
}

.group-life-style {
  display: grid;
  grid-template-columns: 87px 1fr;
  column-gap: 370px;
  align-items: baseline;
  margin-bottom: 12px;
}

.life-style-title {
  font-weight: 500;
  font-size: 24px;
  color: #f65050;
  font-family: "Oswald", sans-serif;
}

.life-style-ref {
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  font-family: "Oswald", sans-serif;
}

.life-style-ref-one {
  background: #fe4a51;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
}

.life-style-ref-two {
  background: #a56cbd;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 12px;
  padding-right: 12px;
}

.life-style-ref-three {
  padding-top: 3px;
  padding-bottom: 3px;
  background: #2ecc71;
  padding-left: 10px;
  padding-right: 10px;
}

.life-style-ref-four {
  padding-top: 3px;
  padding-bottom: 3px;
  background: #08f;
  padding-left: 11px;
  padding-right: 11px;
}

.life-style-ref-five {
  padding-top: 3px;
  padding-bottom: 3px;
  background: #997c00;
  padding-left: 15px;
  padding-right: 15px;
}

.life-style-lines {
  list-style: none;
  display: grid;
  grid-template-columns: 138px 1fr;
  margin-bottom: 25px;
}

.life-style-line-one {
  border: 1px solid #f65050;
  width: 138px;
  height: 0px;
}

.life-style-line-two {
  border: 1px solid #393939;
  width: 730px;
  height: 0px;
}

.life-style-details {
  list-style: none;
  display: grid;
  grid-template-columns: 420px 1fr;
  gap: 28px;
  grid-template-areas:
    "detone dettwo"
    "detthree detfour"
    "detfive detsix"
  ;
}

.life-style-detailsone {
  width: 420px;
  height: 250px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./images/life_style_one.jpg");
  margin-bottom: 25px;
}

.life-style-buttonsone {
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  font-family: "Sofia Sans Condensed", sans-serif;
  background: #997c00;
  border: none;
  cursor: pointer;
  margin-left: 22px;
  margin-top: 23px;
}

.life-style-ph-one {
  margin-bottom: 20px;
}

.life-style-det-titleone {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 24px;
  text-transform: capitalize;
  color: #393939;
  font-family: "Oswald", sans-serif;
  width: 420px;
}

.life-style-ph-def {
  font-weight: 250;
  font-size: 14px;
  line-height: 111%;
  color: rgba(57, 57, 57, 0.6);
  font-family: "Sofia Sans Condensed", sans-serif;
  width: 280px;
}

.life-style-span-one {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 101%;
  color: #393939;
}

.life-style-span-two {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 101%;
  color: rgba(57, 57, 57, 0.6);
}

.life-style-detailstwo {
  width: 420px;
  height: 250px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./images/life_style_two.jpg");
  margin-bottom: 25px;
}

.life-style-buttonstwo {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-left: 22px;
  margin-top: 23px;
  background: #2ecc71;
}

.life-style-span-one-def {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 101%;
  color: #393939;
}

.life-style-span-two-def {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 101%;
  color: rgba(57, 57, 57, 0.6);
}

.life-style-det-titlethree {
  font-weight: 400;
  font-size: 24px;
  color: #393939;
  font-family: "Oswald", sans-serif;
  width: 223px;
}

.life-style-ph-two-def {
  margin-bottom: 18px;
}

.lyfe-style-item {
  display: grid;
  grid-template-columns: 120px 1fr;
  column-gap: 9px;
  align-items: flex-end;
}

.life-style-details-itemone {
  grid-area: detone;
}

.life-style-details-itemtwo {
  grid-area: dettwo;
}

.life-style-details-itemthree {
  grid-area: detthree;
}

.life-style-details-itemtfour {
  grid-area: detfive;
}

.life-style-details-itemtfive {
  grid-area: detfour;
}

.life-style-details-itemtsix {
  grid-area: detsix;
}

.form-latest-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 164%;
  color: #2d2d2d;
  font-family: "Oswald", sans-serif;
  margin-bottom: 30px;
}

.form-latest-input {
  font-weight: 400;
  font-size: 12px;
  line-height: 164%;
  color: #2d2d2d;
  font-family: "Sofia Sans Condensed", sans-serif;
  background: #fff;
  border: none;
  padding-left: 57.5px;
  padding-right: 57.5px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 220px;
  margin-bottom: 10px;
}

.form-latest-button {
  border: none;
  background: #f65050;
  font-weight: 700;
  font-size: 18px;
  line-height: 164%;
  color: #fff;
  font-family: "Sofia Sans Condensed", sans-serif;
  cursor: pointer;
  padding-left: 68.5px;
  padding-right: 68.5px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 220px;
}

.form-latest {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #dedada;
  padding-bottom: 23px;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 32px;
  margin-bottom: 35px;
}

.life-style {
  display: grid;
  grid-template-columns: 870px 1fr;
  column-gap: 20px;
  margin-bottom: 48px;
}

.categories-title {
  font-weight: 500;
  font-size: 14px;
  color: #f65050;
  font-family: "Oswald", sans-serif;
  margin-bottom: 14px;
}

.categories-lines {
  list-style: none;
  display: grid;
  grid-template-columns: 72px 1fr;
  margin-bottom: 30px;
}

.categories-line-one {
  border: 1px solid #f65050;
  width: 72px;
  height: 0px;
}

.categories-line-two {
  border: 1px solid #393939;
  width: 198px;
  height: 0px;
}

.categories-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.category-ph {
  font-weight: 400;
  font-size: 14px;
  line-height: 111%;
  color: #393939;
  font-family: "Sofia Sans Condensed", sans-serif;
}

.group-item-category {
  display: flex;
  align-items: center;
  gap: 10px;
}

.categories-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.span-category-one {
  background: #f65050;
  padding-top: 4.5px;
  padding-bottom: 4.5px;
  padding-right: 4.5px;
  padding-left: 4.5px;
}

.span-category-style {
  font-weight: 400;
  font-size: 12px;
  line-height: 111%;
  color: #fff;
  font-family: "Sofia Sans Condensed", sans-serif;
}

.span-category-two {
  background: #a56cbd;
  padding-top: 4.5px;
  padding-bottom: 4.5px;
  padding-right: 5px;
  padding-left: 5px;
}

.span-category-three {
  background: #c23785;
  padding-top: 4.5px;
  padding-bottom: 4.5px;
  padding-right: 5px;
  padding-left: 5px;
}

.span-category-four {
  background: #4c60f5;
  padding-top: 4.5px;
  padding-bottom: 4.5px;
  padding-right: 5.5px;
  padding-left: 5.5px;
}

.span-category-five {
  background: #08f;
  padding-top: 4.5px;
  padding-bottom: 4.5px;
  padding-right: 5.5px;
  padding-left: 5.5px;
}

.span-category-six {
  background: #f7679d;
  padding-top: 4.5px;
  padding-bottom: 4.5px;
  padding-right: 9px;
  padding-left: 9px;
}

.span-category-seven {
  background: #42c0f5;
  padding-top: 4.5px;
  padding-bottom: 4.5px;
  padding-right: 6px;
  padding-left: 6px;
}

.span-category-eight {
  background: #49cfe8;
  padding-top: 4.5px;
  padding-bottom: 4.5px;
  padding-right: 6px;
  padding-left: 6px;
}

.best_selling {
  width: 871px;
  height: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('./images/best_selling_img.jpg');
  display: grid;
  grid-template-columns: 180px 1fr;
  column-gap: 485px;
  align-items: center;
  margin-bottom: 54px;
}

.group_best_selling {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-left: 33px;
}

.best_selling_title {
  font-weight: 400;
  font-size: 14px;
  line-height: 151%;
  color: #fff;
  width: 180px;
  font-family: "Sofia Sans Condensed", sans-serif;
}

.best_selling_ph {
  font-weight: 400;
  font-size: 14px;
  line-height: 151%;
  color: #f65050;
  font-family: "Oswald", sans-serif;
}

.best_selling_button {
  width: 180px;
  height: 44px;
  border: none;
  cursor: pointer;
  background: #f65050;
}

.best_selling_span {
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  font-family: "Sofia Sans Condensed", sans-serif;
}

.video-news-title {
  font-weight: 500;
  font-size: 24px;
  color: #f65050;
  font-family: "Oswald", sans-serif;
}

.video-news-list {
  list-style: none;
  display: grid;
  column-gap: 12px;
  grid-template-columns: 28px 51px 55px 94px 57px 1fr;
  align-items: center;
  margin-bottom: 12px;
}

.video-news-group {
  display: grid;
  grid-template-columns: 52px 1fr;
  gap: 410px;
}

.video-news-ref {
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  font-family: "Oswald", sans-serif;
  color: #fff;
}

.video-news-ref-one {
  background: #fe4a51;
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.video-news-ref-two {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 12px;
  padding-left: 12px;
  background: #a56cbd
}

.video-news-ref-three {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 10.5px;
  padding-left: 10.5px;
  background: #2ecc71;
}

.video-news-ref-four {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 11px;
  padding-left: 11px;
  background: #08f;
}

.video-news-ref-six {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 15.5px;
  padding-left: 15.5px;
  background: #997c00;
}

.video-news-lines {
  list-style: none;
  display: grid;
  grid-template-columns: 140px 1fr;
  margin-bottom: 11px;
}

.video-news-lineone {
  border: 1px solid #f65050;
  width: 140px;
  height: 0px;
}

.video-news-linetwo {
  border: 1px solid #393939;
  width: 730px;
  height: 0px;
}

.video-news-items {
  list-style: none;
  display: grid;
  row-gap: 25px;
  column-gap: 30px;
  grid-template-columns: 270px 270px 1fr;
  grid-template-areas:
    "one one one"
    "two three four"

  ;
}

.video-item-one {
  grid-area: one;
}

.video-item-two {
  grid-area: two;
}

.video-item-three {
  grid-area: three;
}

.video-item-four {
  grid-area: four;
}

.video-news-items-groupone {
  width: 870px;
  height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('./images/video_img_one.jpg');
}

.video-news-items-button {
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  font-family: "Sofia Sans Condensed", sans-serif;
  background: #fe4a51;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 11px;
  padding-right: 11px;
  border: none;
  cursor: pointer;
  margin-left: 27px;
  margin-top: 25px;
  margin-bottom: 36px;
}

.video-news-items-ph {
  font-weight: 400;
  font-size: 12px;
  line-height: 101%;
  color: #fff;
  font-family: "Sofia Sans Condensed", sans-serif;
  margin-left: 27px;
  margin-bottom: 20px;
}

.video-news-items-title {
  font-weight: 500;
  font-size: 36px;
  color: #fff;
  font-family: "Oswald", sans-serif;
  width: 530px;
  margin-left: 27px;
}

.video-news {
  margin-bottom: 52px;
}

.video-news-icon-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 66px;
}

.video-group-two {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('./images/video_icon_two.jpg');
  width: 270px;
  height: 200px;
  margin-bottom: 22px;
}

.video-span-phone {
  font-weight: 400;
  font-size: 10px;
  line-height: 101%;
  color: #393939;
  font-family: "Sofia Sans Condensed", sans-serif;
}

.video-span-two {
  font-weight: 400;
  font-size: 10px;
  line-height: 101%;
  color: rgba(57, 57, 57, 0.6);
  font-family: "Sofia Sans Condensed", sans-serif;
}

.video-title-one {
  font-weight: 500;
  font-size: 14px;
  color: #393939;
  font-family: "Oswald", sans-serif;
  width: 270px;
}

.video-parag {
  margin-bottom: 8px;
}

.video-group-buttwo {
  border: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  font-family: "Sofia Sans Condensed", sans-serif;
  background: #49cfe8;
  margin-top: 23px;
  margin-left: 25px;
  margin-bottom: 33PX;
}

.video-group-icon-two {
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-group-three {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('./images/video_img_three.jpg');
  width: 270px;
  height: 200px;
  margin-bottom: 22px;
}

.video-group-butthree {
  border: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  font-family: "Sofia Sans Condensed", sans-serif;
  background: #26387a;
  margin-top: 23px;
  margin-left: 25px;
  margin-bottom: 33PX;
}

.video-group-icon-three {
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-title-two {
  font-weight: 500;
  font-size: 14px;
  color: #393939;
  font-family: "Oswald", sans-serif;
  width: 270px;
}

.video-title-four {
  font-weight: 500;
  font-size: 14px;
  color: #393939;
  font-family: "Oswald", sans-serif;
  width: 270px;
}

.video-group-four {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('./images/video_img_four.jpg');
  width: 270px;
  height: 200px;
  margin-bottom: 22px;
}

.video-group-icon-four {
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-group-butfour {
  border: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  font-family: "Sofia Sans Condensed", sans-serif;
  background: #fb8282;
  margin-top: 23px;
  margin-left: 25px;
  margin-bottom: 33PX;
}

.video-clips-list {
  list-style: none;
  display: grid;
  grid-template-columns: 288px 288px 288px 288px 1fr;
  justify-content: center;
}

.video-group-clip {
  width: 288px;
  height: 288px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('./images/video_clip_three.jpg');
  display: flex;
  align-items: center;
  justify-content: center;
}


.footer-main {
  background: #393939;
}

.footer-images-gallery {
  background: #393939;
}

.footer-images-tags {
  background: #393939;
}

.footer-stay {
  background: #393939;
  padding-right: 15px;
}

.footer-main-new {
  display: grid;
  grid-template-columns: 247px 1fr;
  column-gap: 47px;
  align-items: normal;
  background: #393939;
}

.footer-newscast {
  background: #393939;
  padding-top: 43px;
  padding-bottom: 76px;
}

.footer-ph {
  width: 200px;
  font-weight: 400;
  font-size: 14px;
  line-height: 148%;
  color: #fff;
  font-family: "Sofia Sans Condensed", sans-serif;
  margin-bottom: 34px;
}

.footer-newscast-list {
  list-style: none;
  display: grid;
  grid-template-columns: 40px 40px 40px 1fr;
  column-gap: 20px;
}

.footer-newscast-img {
  margin-bottom: 31px;
}

.footer-images {
  display: grid;
  grid-template-columns: 270px 270px 1fr;
  column-gap: 30px;
  background: #393939;
  padding-top: 43px;
  padding-bottom: 76px;
}

.footer-galery-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 101%;
  text-transform: capitalize;
  color: #fff;
  font-family: "Oswald", sans-serif;
  margin-bottom: 8px;
}

.footer-galery-lines {
  list-style: none;
  display: grid;
  grid-template-columns: 70px 1fr;
  margin-bottom: 11px;
}

.footer-galery-lineone {
  border: 1px solid #f65050;
  width: 70px;
  height: 0px;
}

.footer-galery-linetwo {
  border: 1px solid #fff;
  width: 200px;
  height: 0px;
}

.footer-galery-items {
  list-style: none;
  display: grid;
  grid-template-areas:
    "one two three"
    "four five six"
  ;
  gap: 6px;
  grid-template-columns: 85px 85px 1fr;
}

.footer-galery-items-one {
  grid-area: one;
}

.footer-galery-items-two {
  grid-area: two;
}

.footer-galery-items-three {
  grid-area: three;
}

.footer-galery-items-four {
  grid-area: four;
}

.footer-galery-items-five {
  grid-area: five;
}

.footer-galery-items-six {
  grid-area: six;
}

.footer-tags-title {
  font-weight: 400;
  font-size: 24px;
  color: #fff;
  font-family: "Oswald", sans-serif;
  margin-bottom: 4px;
}

.footer-tags-lines {
  list-style: none;
  display: grid;
  grid-template-columns: 50px 1fr;
  margin-bottom: 21px;
}

.footer-tags-lineone {
  border: 1px solid #f65050;
  width: 50px;
  height: 0px;
}

.footer-tags-linetwo {
  border: 1px solid #fff;
  width: 200px;
  height: 0px;
}

.footer-tags-items {
  list-style: none;
  display: grid;
  column-gap: 3px;
  grid-template-columns: 64px 57px 63px 1fr;
  margin-bottom: 14px;
}


.footer-tags-items-new {
  list-style: none;
  display: grid;
  grid-template-columns: 110px 76px 1fr;
  column-gap: 3px;
}


.footer-tag-ref {
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  font-family: "Sofia Sans Condensed", sans-serif;
  text-decoration: none;
}

.footer-tag-ref-one {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 6px;
  padding-right: 6px;
  background: #f65050;
}

.footer-tag-ref-two {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 6px;
  padding-right: 6px;
  background: #08f;
}

.footer-tag-ref-three {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  background: #a56cbd;
}

.footer-tag-ref-four {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5.5px;
  padding-right: 5.5px;
  background: #997c00;
}

.footer-tag-ref-five {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  background: #ffb8b8;
}

.footer-tag-ref-six {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  background: #49cfe8;
}

.footer-tag-ref-seven {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background: #4281ff;
}

.footer-stay-title {
  font-weight: 400;
  font-size: 24px;
  color: #fff;
  font-family: "Oswald", sans-serif;
  margin-bottom: 4px;
}

.footer-stay-list {
  list-style: none;
  display: grid;
  grid-template-columns: 70px 1fr;
  margin-bottom: 25px;
}

.footer-stay-itemone {
  border: 1px solid #f65050;
  width: 70px;
  height: 0px;
}

.footer-stay-itemtwo {
  border: 1px solid #fff;
  width: 200px;
  height: 0px;
}

.footer-stay-ph {
  font-weight: 400;
  font-size: 14px;
  line-height: 149%;
  color: #fff;
  font-family: "Sofia Sans Condensed", sans-serif;
  margin-bottom: 17px;
}

.footer-stay-input {
  background: #fff;
  font-weight: 400;
  font-size: 12px;
  line-height: 164%;
  color: #c4c4c4;
  font-family: "Sofia Sans Condensed", sans-serif;
  padding-left: 82px;
  padding-right: 82px;
  border: none;
  margin-bottom: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-stay-button {
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  line-height: 164%;
  color: #fff;
  font-family: "Sofia Sans Condensed", sans-serif;
  background: #f65050;
  padding-right: 106px;
  padding-left: 106px;
  padding-top: 5px;
  padding-bottom: 5px;
}


/*@media screen and (min-width: 480px) and (max-width: 767px) {*/
/*@media screen and (min-width: 768px) and (max-width: 1199px) {*/